.project-container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding: 170px;
    font-family: 'Work Sans', sans-serif;
}

.project-grid {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
}

.project-grid ol {
    list-style-type: decimal;
    /* margin-left: 20px; 
    padding-left: 20px; */
}

.project-grid ul {
    list-style-type: disc; 
    margin-left: 20px;    
    padding-left: 0;
}

.project-grid ul ul {
    list-style-type: circle;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-grid ul ul ul {
    list-style-type: square; /* Nested level 2 bullet style */
    margin-left: 50px; 
}

.project-grid li {
    margin-left: 20px;
    margin-bottom: 5px;
}

.project-info div {
    margin-bottom: 10px;
    margin-right: 10px;
}

.project-image {
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0;
    width: 100%;
}

.grid-item {
    margin-bottom: 10px;
    margin-top: 10px;
}

.centered-text {
    grid-column: 2;
    text-align: center;
}

.title {
    grid-column: 1;
    font-weight: bold;
    text-align: left;
    align-self: start; /* Vertically center align the title */
}

.content {
    grid-column: 2;
    text-align: left;
}

.content img {
    width: 100%;
    height: auto;
    display: block;
}

.content-confusion-matrices {
    grid-column: 2;
    width: 60%;
    align-items: center;
}

.key-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.key-section img {
    width: 150px;
    height: auto;
}

.key-text {
    font-weight: bold;
    margin-right: 10px;
}

.gif {
    grid-column: 1;
}

.gif-title{
    font-size: 20px;
  }

.main-title {
    margin: 100px;
    font-size: 32px;
    font-weight: bold;
    justify-content: center;
}

.large-title {
    font-size: 30px;
    font-weight: bold;
    color: #0804fc;
}

.title-description {
    font-size: 20px;
}

.center-photo {
    grid-column: 1 / span 2;
    width: 50%; 
    max-width: 100%; 
    justify-self: center;
}

.half-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.left-container {
    grid-column: 1;
}

.right-container {
    grid-column: 2;
}

.right-container li {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 5px;
}

.left-container img, .right-container img {
    height: 100%; 
    width: auto; 
    object-fit: cover;
}

.right-container > div:first-child {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .project-container {
        width: 100%;
    }

    .project-grid {
        grid-template-columns: 1fr; /* Stack columns on smaller screens */
    }

    .title, .content {
        grid-column: 1;
        text-align: left;
    }

    .half-grid {
        grid-template-columns: 1fr;
    }

    .center-photo {
        width: 100%;
        max-width: 100%;
        justify-self: center;
    }

    .content img {
        width: 100%; 
        height: auto; 
        max-width: 100%; 
    }
}