.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: 80px;
    background-color: transparent;
    position: fixed; /* Ensures navbar is always on top */
    width: 100%; /* Full width */
    top: 0; /* Stick to the top */
    z-index: 1000; /* Higher index to stay on top */
    box-shadow: none;
}

.navbar-logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #403434;
    text-decoration: none;
}

.navbar-logo img {
    max-height: 60px;
    width: auto;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar-links li {
    font-size: 1rem;
}

.navbar-links a {
    text-decoration: none;
    color: #3d3d3d;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    color: #000; /* Hover text color */
}

@media (max-width: 768px) {
    .navbar {
        padding: 0.5rem 1rem; /* Reduced padding */
    }

    .navbar-logo a {
        font-size: 1.2rem; /* Smaller logo font */
    }

    .navbar-links {
        gap: 1rem; /* Reduced gap */
    }

    .navbar-links li {
        font-size: 0.9rem; /* Smaller font size */
    }
}