.projects-container {
    padding: 30px;
    margin: 100px 100px 0 100px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Default to three columns */
    gap: 40px; 
}

.project-square {
    position: relative; /* Needed for absolute positioning of the image */
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: none;
}

.project-square img {
    width: 100%;
    height: auto;
    border: none;
    display: block;
    border-radius: 10px
    /* object-fit: cover; */
}

.project-description {
    margin-top: 5px;
    font-size: 1rem;
    color: #333;
    text-align: left;
}

.type {
    color: #b4b4b4;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr; /* One column layout */
    }
}
