@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  cursor: none;
} */

/* #circularcursor {
  background-color: transparent;
  border:1px solid black;    
  height:20px;
  width:20px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  position: absolute;
  z-index: 1;
} */

/* 
.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transition: all 0.2s ease;
  transition-property: background, border, transform;
  transform-origin: 150% 150%;
  z-index: 9999;
} */

body {
  background: #fcfcf4;
  font-family: 'Work Sans', sans-serif;
  /* font-family: 'Work Sans', sans-serif; */
  color: #403434;
}

@font-face {
  font-family: 'Sporting Grotesque';
  src: url('fonts/sporting-grotesque/SportingGrotesque-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}


/* @font-face {
  font-family: 'iA Writer Mono';
  src: url('/fonts/iAWriterMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

/* 
@font-face {
  font-family: 'iA Writer Mono';
  src: url('/fonts/iAWriterMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'iA Writer Mono';
  src: url('/fonts/iAWriterMono-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'iA Writer Mono';
  src: url('/fonts/iAWriterMono-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
} */

/* 
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
